body {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.center {
  margin: auto;
  max-width: 600px;
}

.front {
  margin: auto;
  width: 300px;
  font-size: 20px;
  text-align: center;
}

.ttr {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.rr {
  text-align: center;
}

.oo {
  margin: auto;
  text-align: center;
}

.ll {
  font-size: 24px;
  padding-top: 0cm;
  line-height: 0.1;
}

.btn {
  background-color: #fff1f100;

  color: #008cba;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a {
  text-decoration: none;
}

/* .btn {
  position: relative;
}
.logo {
  position: absolute;
  width: 100px;
} */

nav {
  text-align: center;
}
